name: Vehicle Server CI
on:
  - push
  - pull_request
jobs:
  ci:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
      
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 22
      
      - name: Check Node Version
        run: node --version
      
      - name: Install dependencies
        run: npm ci
      
      - name: Build application
        run: npm run build

      - name: Run Lint
        run: npm run lint

      - name: Run Test
        run: npm run test
      
      - name: List dist output
        run: ls dist/

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: alliahbw
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Extract tag name
        id: tag
        run: echo "TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            alliahbw/vehicle-cli:${{ steps.tag.outputs.TAG }}
            alliahbw/vehicle-cli:latest